*~
*.bak
*.org
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea

.env
/vendor
/wp-content/*
!/wp-content/themes
/wp-content/themes/twentyfifteen
/wp-content/themes/twentyseventeen
/wp-content/themes/twentysixteen
